{{!-- here is going favourites also. --}}

<div class="profile">
    <img src="" alt="">
    <h2>Welcome :<br> {{username}} </h2>
    <button class="edit-profile"> Edit your profile </button>
    <p>Your favorites: </p>
</div>




{{!-- Restaurantes --}}
{{#each allFavs }}
<div class="place-type-one">
    <img src="{{this.img}}" alt="Photo of restaurant">
    <div class="profile-favs place-description">
        <h2><a href="/singleplace/Barcelona/{{this.name}}">Name: {{this.name}}</a></h2>
        <p>Rating: {{this.rating}}</p>
        <p>Type: {{this.type}}</p>
        <p>City: {{this.contact.address}}</p>
        <button class="remove-favorite" data-placeid="{{this._id}}"> Remove favourite </button>
    </div>
</div>
{{/each}}