{{!-- here is going favourites also. --}}

<div class="profile">
    <img src="" alt="">
    <h2>Welcome</h2>
    <h3>{{this.username}}</h3>
    <p>Your favorites:</p>
</div>

<button class="edit-profile"> Edit Profile </button>

{{!-- Restaurantes --}}
{{#each allFavs }}
<div>
    <img src="{{this.img}}" alt="">
    <div class="place-description">
        <h2>Name: {{this.name}}</h2>
        <p>Rating: {{this.rating}}</p>
        <p>Type: {{this.address}}</p>
        {{!-- like button of favorites --}}
    </div>
</div>
{{/each}}


{{#each arraymuseumsCity }}
<div class="place-type-one">
    <img src="{{this.img}}" alt="">
    <div class="place-description">
        <h2>Name: {{this.name}}</h2>
        <p>Rating: {{this.rating}}</p>
        <p>Type: {{this.address}}</p>
        {{!-- like button of favorites --}}
    </div>
</div>
{{/each}}