{{!--  --}}

<h2>You are in {{city.[0].name}}</h2>


{{!-- <h2>{{this.restaurants.[0].name}}</h2> --}}

<h3><a href="/placetype/{{city.[0].name}}/restaurants">Restaurantes</a></h3>
<h3><a href="/placetype/{{city.[0].name}}/museums">museums</a></h3>
<h3><a href="/placetype/{{city.[0].name}}/events">Events</a></h3>
<h3><a href="/placetype/{{city.[0].name}}/hotels">Hotels</a></h3>
