{{!-- In this page that is in a city and show the category --> nombre barcelona y datos categoria --}}

<div class="place-type-wrapper">
    <h3>Tipo array: {{arrayRestaurantInCity.[0].contact.address}}</h3>
    <br>


    {{!-- For each museum in Barcelona we will have all the information below --}}
    {{#each arrayMuseumInCity}}

    <h2><a href="/singleplace/Museum/{{this.name}}">Name: {{this.name}}</a></h2>
    <img src="{{this.img}}" alt="Photo of restaurant">
    <h4>Rating : {{this.rating}}</h4>
    <h4>Type: {{this.type}}</h4>
    <h4>City: {{this.contact.address}}</h4>
    <br>

    {{/each}}


    {{#each arrayRestaurantInCity}}
    <div class="place-type-one">
        <img src="{{this.img}}" alt="Photo of restaurant">
        <div class="place-description">
            <h4><a href="/singleplace/Barcelona/{{this.name}}">Name: {{this.name}}</a></h4>
            <p>Rating : {{this.rating}}</p>
            <p>Type cuisine : {{this.type}}</p>
            <p>City: {{this.contact.address}}</p>
            <br>
        </div>
    </div>
    {{/each}}
    {{!-- For each event in Barcelona we will have all the information below --}}
    {{#each arrayEventInCity}}

    <h2><a href="/singleplace/Event/{{this.name}}">Name: {{this.name}}</a></h2>
    <img src="{{this.img}}" alt="Photo of restaurant">
    <h4>Rating : {{this.rating}}</h4>
    <h4>Type: {{this.type}}</h4>
    <h4>City: {{this.contact.address}}</h4>
    <br>

    {{/each}}

    {{!-- For each hotel in Barcelona we will have all the information below --}}
    {{#each arrayHotelInCity}}

    <h2><a href="/singleplace/Hotel/{{this.name}}">Name: {{this.name}}</a></h2>
    <img src="{{this.img}}" alt="Photo of restaurant">
    <h4>Rating : {{this.rating}}</h4>
    <h4>Type : {{this.type}}</h4>
    <h4>City: {{this.contact.address}}</h4>
    <br>

    {{/each}}
</div>