{{!-- In this page that is in a city and show the category --> nombre barcelona y datos categoria --}}


<h3>Tipo array: {{arrayRestaurantInCity.[0].contact.address}}</h3>
<br>


{{!-- For each restaurant in Barcelona we will have all the information below --}}
{{#each arrayRestaurantInCity}}

    <h2><a href="">Name: {{this.name}}</a></h2>
    <img src="{{this.img}}" alt="Photo of restaurant">
    <h4>Rating : {{this.rating}}</h4>
    <h4>Type :  {{this.type}}</h4>
    <h4>City: {{this.contact.address}}</h4>
    <br>

{{/each}}

{{#each arrayMuseumInCity}}

    <h2><a href="">Name: {{this.name}}</a></h2>
    <img src="{{this.img}}" alt="Photo of restaurant">
    <h4>Rating : {{this.rating}}</h4>
    <h4>Type:  {{this.type}}</h4>
    <h4>City: {{this.contact.address}}</h4>
    <br>

{{/each}}


{{#each arrayEventInCity}}

    <h2><a href="">Name: {{this.name}}</a></h2>
    <img src="{{this.img}}" alt="Photo of restaurant">
    <h4>Rating : {{this.rating}}</h4>
    <h4>Type:  {{this.type}}</h4>
    <h4>City: {{this.contact.address}}</h4>
    <br>

{{/each}}


{{#each arrayHotelInCity}}

    <h2><a href="">Name: {{this.name}}</a></h2>
    <img src="{{this.img}}" alt="Photo of restaurant">
    <h4>Rating : {{this.rating}}</h4>
    <h4>Type  :  {{this.type}}</h4>
    <h4>City: {{this.contact.address}}</h4>
    <br>

{{/each}}