{{!-- Here will be the page that is in a city and show the category --> nombre barcelona y datos categoria --}}

{{!-- <h2>Place Type page {{city.[0].name}}</h2> --}}

<h2>Place Type page {{detailRestaurant}}</h2>

<h2>Place Type page {{detailMuseum}}</h2>

{{#each detailRestaurant}}

<li><a href="/singleplace/placename">{{this.restaurants}}</a></li>

{{/each}}


{{#each detailMuseum}}

<li><a href="/singleplace/placename">{{this.museums}}</a></li>

{{/each}}