{{!-- For Museums --}}
<div class="single-place-wrapper">
    <h2>{{event.[0].name}}</h2>

    <img src="{{event.[0].img}}" alt="">

    <h4>Type: {{event.[0].type}} </h4>

    <h4>Rating: {{event.[0].rating}}</h4>

    <h4>City: {{event.[0].contact.address}} </h4>

    <button class="favourite" data-placeid="{{event.[0]._id}}">Add to favourites</button>

    <h5><a href="{{event.[0].web}}">web</a></h5>

    <p>Description : {{event.[0].description}} </p>

    {{#each event.[0].comments}}
    <div class="comments">
        <h4>Comment:</h4>
        <p>Name: {{this.name}}</p>
        <p>date: {{this.date}}</p>
        <p>comment: {{this.comment}}</p>
        <br>
    </div>
    {{/each}}
</div>