{{!-- For hotels --}}
<div class="single-place-wrapper">
    <h2>{{hotel.[0].name}}</h2>

    <img src="{{hotel.[0].img}}" alt="">

    <h4>Type: {{hotel.[0].type}} </h4>

    <h4>Rating: {{hotel.[0].rating}}</h4>

    <h4>City: {{hotel.[0].contact.address}} </h4>

    <button class="favourite" data-placeid="{{hotel.[0]._id}}">Button to add favourites</button>

    <h5><a href="{{hotel.[0].web}}">web</a></h5>

    <p>Description : {{hotel.[0].description}} </p>

    {{#each hotel.[0].comments}}
    <div class="comments">
        <h4>Comment:</h4>
        <p>Name: {{this.name}}</p>
        <p>date: {{this.date}}</p>
        <p>comment: {{this.comment}}</p>
        <br>
    </div>
    {{/each}}
</div>