{{!-- For restaurants --}}
<div class="single-place-wrapper">
    <h2>{{restaurant.[0].name}}</h2>

    <img src="{{restaurant.[0].img}}" alt="">

    <h4>Type: {{restaurant.[0].type}} </h4>

    <h4>Rating: {{restaurant.[0].rating}}</h4>

    <h4>City: {{restaurant.[0].contact.address}} </h4>

    <button class="favourite" data-placeid="{{restaurant.[0]._id}}">Add to favourites</button>

    <h5><a href="{{restaurant.[0].web}}">website</a></h4>

    <p>Description : {{restaurant.[0].description}} </p>

    {{#each restaurant.[0].comments}}
    <div class="comments">
        <h4>Comments:</h4>
        <p>Name: {{this.name}}</p>
        <p>date: {{this.date}}</p>
        <p>comment: {{this.comment}}</p>
        <br>
    </div>
    {{/each}}

</div>